Adyen==13.3.0
asgiref==3.8.1
attr==0.3.2
authlib==1.4.1
Babel==2.17.0
boto3==1.36.16
botocore==1.36.16
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.1.0
cryptography==44.0.0
cython==3.0.11
dj_database_url==2.3.0
dj_email_url==1.0.6
Django==4.2.11
django_cache_url==3.4.5
django_celery_beat==2.7.0
django_countries==7.6.1
django_measurement==3.2.4
django_mptt==0.16.0
django_prices==2.3.0
django_stubs_ext==5.1.3
docutils==0.21.2
draftjs_sanitizer==1.0.0
Faker==35.2.0
fakeredis==2.26.2
filelock==3.17.0
freezegun==1.5.1
graphene==3.4.3
graphql_relay==3.2.0
h2==4.2.0
html_to_draftjs==1.0.1
HTMLParser==0.0.2
ipython==8.32.0
ipywidgets==8.1.5
jaeger_client==4.8.0
jnius==1.1.0
js==1.0
keyring==25.6.0
kombu==5.4.2
lxml==4.9.3  
Markdown==3.7
measurement==3.2.2
micawber==0.5.6
oauthlib==3.2.2
openpyxl==3.1.5
opentracing==2.4.0
petl==1.7.15
phonenumbers==8.13.54
Pillow==11.1.0
posuto==2025.2.0
promise==2.3
protobuf==5.29.3
pybars3==0.9.7
pyOpenSSL==25.0.0
pytest==8.3.4
python_dateutil==2.9.0.post0
python_http_client==3.3.7
python_json_logger==3.2.1
python_magic==0.4.27
pytimeparse==1.1.8
redis==5.2.1
requests_hardened==1.0.0
rx==3.2.0
semantic_version==2.10.0
sentry_sdk==2.20.0
simplejson==3.19.3
Sphinx==8.1.3
text_unidecode==1.3
thread==2.0.5
urllib3_secure_extra==0.1.0
uvicorn==0.34.0
zstandard==0.23.0
